<div>
  <label for="userId">You user id</label>
  <input type="text" [disabled]="isConnected" [(ngModel)]="userName" />
  <button [disabled]="isConnected" (click)="connect()">Connect</button>
</div>

<div *ngIf="errorMessage">
  {{errorMessage}}
</div>

<div>
  <select [(ngModel)]="targetUserName">
    <option *ngFor="let userName of usersOnline$ | async" [ngValue]="userName">{{userName}}</option>
  </select>
  <input [disabled]="!isConnected" type="text" [(ngModel)]="message" />
  <button [disabled]="!isConnected" (click)="sendMessage()">Send message</button>
</div>

<div>
  <div *ngFor="let msg of messagesHistory">
    ({{msg.timestamp | date:'dd.MM HH:mm:ss'}}) {{msg.senderUserName}}: {{msg.message}}
  </div>
</div>
